<meta http-equiv="refresh" content="10">

Hello, <%= uname %>
if uname === "dan"
    line = white
    bg = black
<a href="/actions">Do something</a>
<table style="border: 1px solid line; border-collapse: collapse; table-layout: fixed; width: 2000;">
    <% 20.times do |i|%>
    <tr style="border: 1px solid line; border-collapse: collapse; height: 100px;">
        <% 20.times do |j| %>
        <td style="border: 1px solid line; border-collapse: collapse; width: 100px;">
            <% tank = game.tank_at(j, i)%>
            <% unless tank %>
                <i style="color: bg"><%= "(#{j};#{i})" %></i>
            <% else %>
                <%= "#{tank.name}" %></br>
                <%= "#{tank.hp}hp" %></br>
                <%= "#{tank.ap}ap" %></br>
            <% end %>
        </td>
        <% end %>
    </tr>
    <% end %>
</table>
